<div class="bg-gradient-to-r from-sky-700 to-blue-600 text-white py-6 flex flex-col items-center">
  <img class="w-24 h-24 sm:w-28 sm:h-28 rounded-full bg-white shadow-lg mb-3" src="assets/icon/CAIXA_chapada_positiva.svg" alt="Logo Caixa" (click)="onLogoClick()" />
  <div class=" text-sm sm:text-lg">Simulador de Empréstimos</div>
</div>

<mat-nav-list class="px-2 py-3">
  <ng-container *ngFor="let p of pages">
      <a
      mat-list-item
      [routerLink]="p.url"
      routerLinkActive="bg-sky-50 text-sky-700"
      [routerLinkActiveOptions]="{ exact: true }"
      [attr.aria-label]="'Ir para ' + p.title"
      (click)="onLinkClick()"
      class="rounded-lg hover:bg-sky-50 transition-colors"
    >
      <span class="inline-flex items-center justify-center w-10 h-10 mr-3">
        <mat-icon class="text-lg w-6 h-6">{{ p.icon }}</mat-icon>
      </span>
      <span class="flex-1 text-sm sm:text-base">{{ p.title }}</span>
    </a>
  </ng-container>
</mat-nav-list>

