.mat-sidenav.mat-sidenav-opened {
	transform: translateX(0) !important;
	transition: transform 350ms cubic-bezier(.2,.8,.2,1) !important;
}

.mat-sidenav {
	transform: translateX(-100%);
	transition: transform 350ms cubic-bezier(.2,.8,.2,1);
}

.cdk-overlay-backdrop {
	transition: opacity 300ms ease;
}
.cdk-overlay-backdrop.cdk-overlay-dark-backdrop {
	opacity: 0.6;
}
