

<div class="max-w-full sm:max-w-3xl mx-auto mt-2 sm:mt-4 px-2 sm:px-4">
  <h2 class="text-base sm:text-xl font-bold text-center mb-2 sm:mb-6">Produtos Cadastrados</h2>
  @if (loading) {
    <div class="text-center my-2 sm:my-4">
      <mat-progress-spinner diameter="24" sm:diameter="32" mode="indeterminate"></mat-progress-spinner>
    </div>
  }
  @if (errorMsg) {
    <div class="text-center mb-2 sm:mb-3 text-red-700 text-sm sm:text-base">
      {{ errorMsg }}
    </div>
  }
  @if (!loading && !errorMsg && products$().length) {
    <div
      class="grid grid-cols-1 gap-2 sm:grid-cols-2 sm:gap-6"
      >
      @for (produto of products$(); track produto) {
        <mat-card
          class="mat-elevation-z1 flex flex-col justify-between h-full p-2 sm:p-4 cursor-pointer hover:shadow-lg transition-shadow duration-200 min-w-0"
          (click)="produto.id != null ? simularComProduto(produto.id) : null"
          tabindex="0"
          (keydown.enter)="produto.id != null ? simularComProduto(produto.id) : null"
          >
          <mat-card-header class="p-0 mb-1 sm:mb-2">
            <mat-card-title class="font-bold text-sm sm:text-lg">{{ produto.nome }}</mat-card-title>
          </mat-card-header>
          <mat-card-content class="p-0">
            <div class="text-xs sm:text-base mb-1">Taxa Efetiva Mensal: <span class="font-semibold">{{ produto.taxaEfetivaMensal }}%</span></div>
            <div class="text-xs sm:text-base mb-1">Taxa Efetiva Anual: <span class="font-semibold">{{ calcularTaxaEfetivaAnual(produto.taxaEfetivaMensal) | number:'1.2-2' }}%</span></div>
            <div class="text-xs sm:text-base">Prazo Máximo: <span class="font-semibold">{{ produto.prazoMaximo }} meses</span></div>
            @if (produto.sistema) {
              <div class="text-xs sm:text-base">Sistema: <span class="font-semibold">{{ produto.sistema }}</span></div>
            }
          </mat-card-content>
        </mat-card>
      }
    </div>
  }
  @if (!loading && !errorMsg && !products$().length) {
    <div class="text-center my-2 sm:my-4 text-xs sm:text-base">
      Nenhum produto cadastrado.
    </div>
  }
</div>
